<a href="https://colab.research.google.com/github/mariadelcar18/Deliverable1_HelloWorld/blob/master/Deliverable_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
# Import the pandas, numpy, and seaborn libraries.
import pandas as pd
import numpy as np
import seaborn as sns

In [47]:
# Load the "iris" dataset and store it as a data frame.
iris = sns.load_dataset('iris')

In [48]:
iris.head() # Show dataframe

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [49]:
# Drop the "species" column in the iris data frame.
iris.drop(labels = 'species', axis=1, inplace = True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [50]:
#Add two more columns to the iris data frame
iris['sepal_sum'] = iris['sepal_length']+ iris['sepal_width']
iris['petal_sum'] = iris['petal_length']+ iris['petal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [52]:
# Create a new data frame with the summary stats for the iris dataset
mean = list(iris.mean())
std = list(iris.std())
min = list(iris.min())
max = list(iris.max())

summary_dict = {'mean': mean, 'std':std, 'min':min, 'max':max}

summary_df = pd.DataFrame(data = summary_dict)
summary_df.rename(index={0: "sepal_length", 1: "sepal_width", 4: 'sepal_sum', 2: 'petal_length', 3: 'petal_width', 5: 'petal_sum'})

                  mean       std  min   max
sepal_length  5.843333  0.828066  4.3   7.9
sepal_width   3.057333  0.435866  2.0   4.4
petal_length  3.758000  1.765298  1.0   6.9
petal_width   1.199333  0.762238  0.1   2.5
sepal_sum     8.900667  0.889272  6.8  11.7
petal_sum     4.957333  2.507689  1.2   9.2